Universidad Del Valle de Guatemala  
Departamento de Computación  
Minería de datos  

Proyecto - Análisis exploratorio  
José Pablo Kiesling Lange - 21581  
Erick Stiv Junior Guerra Muñoz - 21781  
Diego Andrés Morales Aquino - 21762  
Pablo Andrés Zamora Vásquez - 21780

In [24]:
# Importando librerías
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [109]:
# Leyendo archivo
datos = pd.read_csv('SDGData.csv')

In [26]:
datos.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 35
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.644218,85.932567,86.232384,86.478597,86.722685,86.937933,87.040774,87.235539,87.307068,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.039588,88.992620,88.015356,88.681886,89.195062,90.324659,88.910749,89.999946,90.277735,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,54.722944,56.807039,57.872605,57.447725,...,75.377022,79.582622,77.666157,78.951592,79.791665,82.373066,82.970754,83.740500,81.660899,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.980079,97.239057,96.856101,97.021313,97.261799,97.483658,97.581237,98.278287,97.540397,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.470000,NaN,NaN,37.230000,NaN,NaN,NaN,NaN

### Parte 1: Explore los datos para encontrar preguntas interesantes y líneas de investigación. Para esto:

a. Comience describiendo cuántas variables y observaciones tiene disponibles, y el tipo de cada una de las variables.

In [110]:
num_rows, num_columns = datos.shape

print("Observaciones:", num_rows)
print("Variables:", num_columns)

Observaciones: 106488
Variables: 36

In [111]:
# Tipo de dato de cada columna
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106488 entries, 0 to 106487
Data columns (total 36 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    106488 non-null  object
 1   Country Code    106488 non-null  object
 2   Indicator Name  106488 non-null  object
 3   Indicator Code  106488 non-null  object
 4   1990            23997 non-null   float64
 5   1991            28622 non-null   float64
 6   1992            30313 non-null   float64
 7   1993            29447 non-null   float64
 8   1994            29893 non-null   float64
 9   1995            32175 non-null   float64
 10  1996            31622 non-null   float64
 11  1997            33001 non-null   float64
 12  1998            32370 non-null   float64
 13  1999            34820 non-null   float64
 14  2000            45687 non-null   float64
 15  2001            42846 non-null   float64
 16  2002            44840 non-null   float64
 17  2003            43209 non-null   float64
 18  2004            44974 non-null   float64
 19  2005            48390 non-null   float64
 20  2006            47031 non-null   float64
 21  2007            48942 non-null   float64
 22  2008            47737 non-null   float64
 23  2009            48686 non-null   float64
 24  2010            52325 non-null   float64
 25  2011            52668 non-null   float64
 26  2012            53098 non-null   float64
 27  2013            50880 non-null   float64
 28  2014            53700 non-null   float64
 29  2015            53385 non-null   float64
 30  2016            53142 non-null   float64
 31  2017            54971 non-null   float64
 32  2018            52410 non-null   float64
 33  2019            46180 non-null   float64
 34  2020            34858 non-null   float64
 35  Unnamed: 35     0 non-null       float64
dtypes: float64(32), object(4)
memory usage: 29.2+ MB

In [112]:
# Cantidad de indicadores distintos
datos["Indicator Name"].nunique()

407

In [113]:
# Eliminar columna no útil
datos = datos.drop(columns=["Unnamed: 35"])

In [115]:
# Transformar data
melted = pd.melt(datos, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], var_name='Year', value_name='Value')
pivoted = melted.pivot_table(index=['Country Name', 'Year'], columns='Indicator Name', values='Value', aggfunc="mean").reset_index()

tData = pivoted
tData.head()

Indicator Name,Country Name,Year,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)",...,Urban population growth (annual %),"Wage and salaried workers, female (% of female employment) (modeled ILO estimate)","Wage and salaried workers, male (% of male employment) (modeled ILO estimate)","Wage and salaried workers, total (% of total employment) (modeled ILO estimate)","Water productivity, total (constant 2015 US$ GDP per cubic meter of total freshwater withdrawal)",Women Business and the Law Index Score (scale 1-100),"Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care (% of women age 15-49)",Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),tax revenue (current LCU)
0,Afghanistan,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.898101,NaN,NaN,NaN,NaN,25.625,NaN,NaN,NaN,NaN
1,Afghanistan,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.319524,1.45,10.46,9.10,NaN,25.625,NaN,NaN,NaN,NaN
2,Afghanistan,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.963742,1.45,10.27,8.95,NaN,25.625,NaN,NaN,NaN,NaN
3,Afghanistan,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.206788,1.41,9.68,8.45,NaN,25.625,NaN,NaN,NaN,NaN
4,Afghanistan,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.078605,1.36,9.01,7.88,NaN,25.625,NaN,NaN,NaN,NaN

In [117]:
tData.shape

(8091, 405)