In [113]:
import pandas as pd

### Cargar y modelar datos generales

In [114]:
ods_data = pd.read_csv("ODS_indicators.csv")

In [115]:
ods_data.drop(["Country Name", "Indicator Code"], axis=1, inplace=True)
ods_data.drop([str(year) for year in range(1990, 2005)], axis=1, inplace=True)

In [116]:

melted_df = ods_data.melt(id_vars=['Country Code', 'Indicator Name'], var_name='Year', value_name='Value')


ods_data = melted_df.pivot_table(index=['Country Code', 'Year'], columns='Indicator Name', values='Value')


ods_data.reset_index(inplace=True)

ods_data

Indicator Name,Country Code,Year,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),Adolescent fertility rate (births per 1000 women ages 15-19),Adolescents out of school (% of lower secondary school age),Employment in agriculture (% of total employment) (modeled ILO estimate),Employment in industry (% of total employment) (modeled ILO estimate),Employment in services (% of total employment) (modeled ILO estimate),GDP per capita (current US$),Households and NPISHs Final consumption expenditure (annual % growth),Individuals using the Internet (% of population),People using at least basic drinking water services (% of population),People using at least basic sanitation services (% of population),People using safely managed drinking water services (% of population),Primary completion rate total (% of relevant age group),Unemployment total (% of total labor force) (modeled ILO estimate),Urban population (% of total population)
0,ABW,2005,NaN,100.000000,36.7648,6.071430,NaN,NaN,NaN,23591.159840,NaN,25.400000,95.897230,97.996573,NaN,88.197968,NaN,44.875
1,ABW,2006,NaN,100.000000,35.3134,NaN,NaN,NaN,NaN,24495.015390,NaN,28.000000,96.178915,97.931846,NaN,93.186119,NaN,44.511
2,ABW,2007,NaN,100.000000,33.8620,3.847370,NaN,NaN,NaN,26452.231950,NaN,30.900000,96.460600,97.867118,NaN,95.588242,NaN,44.147
3,ABW,2008,NaN,100.000000,32.7920,3.824090,NaN,NaN,NaN,28048.151770,NaN,52.000000,96.742284,97.802391,NaN,95.133034,NaN,43.783
4,ABW,2009,NaN,100.000000,31.7220,7.427830,NaN,NaN,NaN,25170.832360,NaN,58.000000,97.023969,97.737663,NaN,96.242577,NaN,43.421
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4168,ZWE,2016,29.8,42.561729,90.6766,2.261470,66.879997,7.05,26.070000,1464.588957,-10.501114,23.119989,64.468964,37.529193,30.183683,99.265839,4.788,32.296
4169,ZWE,2017,29.8,44.178635,86.1350,2.356790,66.480003,6.90,26.629999,1235.189032,1.396143,24.400000,63.996625,36.941673,29.997683,95.476372,4.785,32.237
4170,ZWE,2018,29.9,45.572647,83.2486,6.226070,66.019997,6.75,27.230000,1254.642265,-22.393220,25.000000,63.538773,36.357160,29.827913,92.195152,4.796,32.209
4171,ZWE,2019,30.1,46.781475,80.3622,7.544310,66.190002,6.57,27.240000,1316.740657,NaN,25.100000,63.094957,35.774337,29.673569,88.508812,4.833,32.210
4172,ZWE,2020,30.4,52.747669,77.4758,21.875412,NaN,NaN,NaN,1214.509820,NaN,29.300000,62.666458,35.192363,29.535890,90.017349,5.351,32.242

### Cargar y moldear datos de indicadores

In [117]:
indicators_data = pd.read_csv("HDR23-24_Composite_indices_complete_time_series.csv",  encoding='latin1')

In [118]:
# Eliminar columnas
indicators_data = indicators_data.drop(["hdicode","region"], axis=1)
indicators_data = indicators_data.rename(columns={"iso3":"Country Code"})

In [119]:

# Usar pd.melt para aplanar el DataFrame
df_melted = pd.melt(indicators_data, id_vars=['Country Code', 'country'], var_name='variable_year', value_name='value')

# Separar 'variable' y 'year' usando rsplit
df_melted[['variable', 'Year']] = df_melted['variable_year'].str.rsplit('_', n=1, expand=True)

# Pivotar para tener una columna por cada variable
indicators_data = df_melted.pivot_table(index=['Country Code', 'country', 'Year'], columns='variable', values='value').reset_index()
indicators_data

variable,Country Code,country,Year,abr,co2_prod,coef_ineq,diff_hdi_phdi,eys,eys_f,eys_m,...,mys,mys_f,mys_m,phdi,pop_total,pr_f,pr_m,rankdiff_hdi_phdi,se_f,se_m
0,AFG,Afghanistan,1990,142.960000,0.189279,NaN,1.056338,2.936460,2.117230,4.532768,...,0.871962,0.201659,1.493952,0.281,10.694796,NaN,NaN,NaN,1.107733,7.899011
1,AFG,Afghanistan,1991,147.525000,0.178155,NaN,1.027397,3.228456,2.246242,4.768261,...,0.915267,0.218944,1.578809,0.289,10.745167,NaN,NaN,NaN,1.221396,8.137953
2,AFG,Afghanistan,1992,147.521000,0.122920,NaN,1.003344,3.520452,2.383115,5.015989,...,0.958573,0.236229,1.663665,0.296,12.057433,NaN,NaN,NaN,1.335059,8.376896
3,AFG,Afghanistan,1993,147.896000,0.106179,NaN,0.977199,3.812448,2.528328,5.276587,...,1.001878,0.253514,1.748522,0.304,14.003760,NaN,NaN,NaN,1.448722,8.615838
4,AFG,Afghanistan,1994,155.669000,0.094063,NaN,0.666667,4.104445,2.682390,5.550723,...,1.045184,0.270800,1.833378,0.298,15.455554,NaN,NaN,NaN,1.562385,8.854780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6793,ZZK.WORLD,World,2018,44.140624,4.601230,22.361032,7.482993,12.651182,12.694327,12.615530,...,8.483187,7.932751,9.047396,0.680,7649.567694,24.098697,75.901303,NaN,62.161959,69.593772
6794,ZZK.WORLD,World,2019,43.433319,4.589431,22.042156,7.171854,12.726141,12.803410,12.657070,...,8.574383,8.059405,9.121410,0.686,7730.660623,24.670774,75.329226,NaN,62.953836,70.542738
6795,ZZK.WORLD,World,2020,42.805263,4.336829,21.945371,7.201087,12.860674,12.937502,12.795625,...,8.686374,8.246301,9.155630,0.683,7806.602793,25.370844,74.629156,NaN,64.385236,71.331807
6796,ZZK.WORLD,World,2021,42.529066,4.520335,21.832743,7.346939,12.911840,12.998299,12.833189,...,8.682265,8.250592,9.140639,0.681,7874.877719,25.913010,74.086990,NaN,64.325131,71.182639
6797,ZZK.WORLD,World,2022,41.924402,4.497895,21.732077,7.307172,12.989766,13.082218,12.907841,...,8.661598,8.231362,9.118253,0.685,7940.608797,26.184549,73.815451,NaN,64.118558,70.967411

### Juntar conjunto de datos

In [124]:
data = pd.merge(ods_data, indicators_data, on=['Country Code', 'Year'])
data

,Country Code,Year,Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),Adolescent fertility rate (births per 1000 women ages 15-19),Adolescents out of school (% of lower secondary school age),Employment in agriculture (% of total employment) (modeled ILO estimate),Employment in industry (% of total employment) (modeled ILO estimate),Employment in services (% of total employment) (modeled ILO estimate),GDP per capita (current US$),...,mys,mys_f,mys_m,phdi,pop_total,pr_f,pr_m,rankdiff_hdi_phdi,se_f,se_m
0,AFG,2005,12.20,25.390894,138.4284,NaN,62.150002,11.33,26.530001,242.031313,...,1.521544,0.480141,2.509840,0.399,24.411191,25.925926,74.074074,NaN,3.024593,12.915637
1,AFG,2006,13.85,30.718691,135.7602,NaN,61.279999,11.79,26.930000,263.733602,...,1.595281,0.495506,2.620990,0.407,25.442944,25.925926,74.074074,NaN,2.985100,13.786732
2,AFG,2007,15.30,36.051010,133.0920,NaN,60.139999,12.20,27.660000,359.693158,...,1.669017,0.510870,2.732140,0.423,25.903301,25.872093,74.127907,NaN,2.945607,14.657827
3,AFG,2008,16.70,42.400002,126.6330,NaN,59.290001,12.48,28.230000,364.663542,...,1.742754,0.526235,2.843290,0.428,26.427199,25.872093,74.127907,NaN,2.906114,15.528922
4,AFG,2009,18.40,46.740051,120.1740,NaN,56.889999,13.63,29.480000,437.268740,...,1.816490,0.541599,2.954440,0.438,27.385307,25.925926,74.074074,NaN,2.866621,16.400018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,ZWE,2016,29.80,42.561729,90.6766,2.261470,66.879997,7.05,26.070000,1464.588957,...,8.425370,7.881975,9.090810,0.539,14.452704,35.142857,64.857143,NaN,53.450329,66.209465
3116,ZWE,2017,29.80,44.178635,86.1350,2.356790,66.480003,6.90,26.629999,1235.189032,...,8.461690,8.061880,8.916270,0.544,14.751101,36.151604,63.848396,NaN,59.792019,70.783081
3117,ZWE,2018,29.90,45.572647,83.2486,6.226070,66.019997,6.75,27.230000,1254.642265,...,8.574575,8.065950,9.189455,0.556,15.052184,34.285714,65.714286,NaN,60.982430,71.707101
3118,ZWE,2019,30.10,46.781475,80.3622,7.544310,66.190002,6.57,27.240000,1316.740657,...,8.687460,8.070020,9.462640,0.553,15.354608,34.571429,65.428571,NaN,62.196541,72.643183
3119,ZWE,2020,30.40,52.747669,77.4758,21.875412,NaN,NaN,NaN,1214.509820,...,8.807763,8.190793,9.590724,0.545,15.669666,34.571429,65.428571,NaN,63.434824,73.591485

In [125]:
data.columns

Index(['Country Code', 'Year',
       'Access to clean fuels and technologies for cooking (% of population)',
       'Access to electricity (% of population)',
       'Adolescent fertility rate (births per 1000 women ages 15-19)',
       'Adolescents out of school (% of lower secondary school age)',
       'Employment in agriculture (% of total employment) (modeled ILO estimate)',
       'Employment in industry (% of total employment) (modeled ILO estimate)',
       'Employment in services (% of total employment) (modeled ILO estimate)',
       'GDP per capita (current US$)',
       'Households and NPISHs Final consumption expenditure (annual % growth)',
       'Individuals using the Internet (% of population)',
       'People using at least basic drinking water services (% of population)',
       'People using at least basic sanitation services (% of population)',
       'People using safely managed drinking water services (% of population)',
       'Primary completion rate total (% of relevant age group)',
       'Unemployment total (% of total labor force) (modeled ILO estimate)',
       'Urban population (% of total population)', 'country', 'abr',
       'co2_prod', 'coef_ineq', 'diff_hdi_phdi', 'eys', 'eys_f', 'eys_m',
       'gdi', 'gdi_group', 'gii', 'gii_rank', 'gni_pc_f', 'gni_pc_m', 'gnipc',
       'hdi', 'hdi_f', 'hdi_m', 'hdi_rank', 'ihdi', 'ineq_edu', 'ineq_inc',
       'ineq_le', 'le', 'le_f', 'le_m', 'lfpr_f', 'lfpr_m', 'loss', 'mf',
       'mmr', 'mys', 'mys_f', 'mys_m', 'phdi', 'pop_total', 'pr_f', 'pr_m',
       'rankdiff_hdi_phdi', 'se_f', 'se_m'],
      dtype='object')